a{
    color: #435AB6;
}

/* visited link */
a:visited {
    color: #213172;
}

/* mouse over link */
a:hover {
    text-shadow: 0 0 0.3em #fff, 0 0 0.4em #f7f, 0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1em #f0f, 0 0 1.2em #f0f;
    color: #fff;

		
}

/* menu links */

li a{
    color: rgba(233,233,233);
}

/* visited link */
li a:visited {
    color: rgba(233,233,233);
}

/* mouse over link */
li a:hover {
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f, 0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1em #f0f, 0 0 1.2em #f0f;
    color: #fff;

		
}




/* B */

/* border */
.border-box {
    box-sizing: border-box;
}
.b-cover {
    background-size: cover;
}
.bg-brick {
    background-image: url("../images/black-bricks-background.jpg")
}
.bg-login {
    height: 100%;
    width: 100%; 
    background-size: cover;
    background: rgb(1,0,17);
    background: linear-gradient(145deg, rgba(1,0,17,0.95) 0%, rgba(6,19,33,0.95) 46%, rgba(145, 173, 219) 100%);
}

.bg-signup {
    height: 100%;
    width: 100%; 
    background-size: cover;
    background: rgb(1,0,17);
    background: linear-gradient(145deg, rgba(233,233,233) 0%, rgba(6,19,33,0.95) 46%,rgba(1,0,17,0.95) 100%);
}

.box-shadow {
    box-shadow: 10px 10px 5px black;
}

.b-s {
    border: solid;
}
.b-w {
    border-width: thin;
}

/* Login Buttons */

.button {
    background-color: rgb(233,233,233);
    border: none;
    color: rgb(1,0,17);
    padding: 15px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    box-shadow:
		0 0 5px #1549ED ,
		inset 0 0 5px #1549ED,
		0 0 20px #1549EDde,
		inset 0 0 20px #1549EDde,
		0 0 20px 2px #1549EDde,
        inset 0 0 20px 2px #1549EDde;
}

/* Board Buttons */
.bbutton {
    background-color: rgb(233,233,233);
    border: none;
    color: rgb(1,0,17);
    padding: 15px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


/* C */

/* flex box */
.center {
    justify-content: center;
}
.content {
    min-height: calc(100vh - 70px);
}

/* D */

/* flexbox */
.d-f {
    display: flex;
}
.d-i {
    display: inline;
}
.d-ltr {
    direction: ltr;
}
.d-n {
    display: none; 
}

/* Drop Down */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(233,233,233);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* E */

.expand {
    height: 0px;
    overflow: hidden;
    transition: height 1s;
  }

/* F */ 

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.7s;
}

/* fonts */
.font-Courgette {
    font-family: 'Courgette', cursive; 
}
.font-Poppins {
    font-family: 'Poppins', sans-serif;
}
.font-233 {
   color: rgba(233,233,233);
}

.font-000 {
    color: black;
 }
 

.fs-6rem {
    font-size: 6.25rem; 
}
.fs-1rem {
    font-size: 1.25rem;
}
.fs-1-5rem {
    font-size: 1.5rem;
}
.fs-2rem {
    font-size: 2.5rem;
}
.f-bold {
    font-weight: bold;
}

/* flex box */

.f-e {
    justify-content: flex-end;
}
.f-g {
    flex-grow: 2;
}

.f-s {
    justify-content: flex-start;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-auto {
    flex: auto;
}
.flex-basis {
    flex-basis: auto;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-dr {
    flex-direction: row;
}

/* footer */
.foot {
    height: 50px;
}

/* H */

.height100vh {
    height: 100vh; 
}
.height90vh {
    height: 90vh;
}
.height80vh {
    height: 80vh;
}
.height10vh {
    height: 10vh; 
}

/* I */

/* icons */
.icons {
    width:2em;
    height:2em;
}
.images {
    height: 230px; 
    width: 153px; 
}
.image-auto {
    max-width: 100%;
    height: auto;
}

/* for new post */
input[type=text-newpost] {
    width: 80%;
    height: 2em;
    font-family: 'Poppins', sans-serif;
  }

/* for login and signup */

input[type=text-modal] {
    width: 50%;
    height: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px 0;
  }

input[type=password] {
    width: 50%;
    height: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px 0;
}

/* J */

.jc-center {
    justify-content: center;
}

/* M */

/* margin */
.ma {
    margin: auto;
}
.ml-a {
    margin-left: auto;
}
.mr-a {
    margin-right: auto;
}
.mt-30vh {
    margin-top: 30vh;
}
.ml-75 {
    margin-left: 75%; 
}

.ml-1em {
    margin-left: 1em; 
}

.ml-01em {
    margin-left: .1em; 
}

.ml-3em {
    margin-left: 3em;
  }
  .mr-3em {
    margin-right: 3em;
  }

  .mr-01em {
    margin-right: .1em;
  }

  .mt-3em {
    margin-top: 3em;
  }

  .mt-05em {
    margin-top: .5em;
  }

  .mb-3em {
    margin-bottom: 3em;
  }
  .mb-2em {
      margin-bottom: 2em;
  }

  .mb-1em {
    margin-bottom: 1em;
  }

  .mb-3em {
    margin-bottom: 3em;
  }
  .mb-2em {
      margin-bottom: 2em;
  }

  .mb-1em {
    margin-bottom: 1em;
  }


 /* menu  */

 .mb-menu {

    position: fixed; 
    background: linear-gradient( rgba(2,2,2,0.6), rgba(0, 64, 146,.6));
    
   
    }


    .mb-menu-overlay {

        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient( rgba(2,2,2,0.6), rgba(0, 64, 146,.6));
        z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    
    }

.mb-menu-icon {
    font-size: 2.6rem; 
   

}


    
.mb-menu-vertical {
    width: 14rem; 
    height: 100%; 
    top: 0; 
    left: 0;
    z-index: 1;
    
    }
    
.mb-menu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
    }

.mb-menu-push-toright {
        -ms-transform: translateX(14rem);
    transform: translateX(14rem);
    transition: transform 0.2s ease;
    }

 .mb-menu-push-toleft {
        -ms-transform: translateX(-14rem);
        transform: translateX(-14rem);
        transition: transform 0.2s ease;
    }

    

       .menu-ul {
        list-style-type: none;
        margin-top: 8em;

       } 

       .menu-ul li {
        height: 30%;
        width: 100%;
        position: relative;

       } 

       .menu-link {
        text-decoration: none;
        color: rgba(233,233,233);
        

       }

    

/* N */

/* Nav */




.neonflare {
	box-shadow:
		0 0 5px #1549ED ,
		inset 0 0 5px #1549ED,
		0 0 20px #1549EDde,
		inset 0 0 20px #1549EDde,
		0 0 20px 2px #1549EDde,
		inset 0 0 20px 2px #1549EDde;
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  31.8% {
    opacity: 0.9;
  }
  32% {
    opacity: 0;
  }
  32.2% {
    opacity: 0.9;
  }
  94.6% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  95.4% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  31.8% {
    opacity: 0.9;
  }
  32% {
    opacity: 0;
  }
  32.2% {
    opacity: 0.9;
  }
  94.6% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  95.4% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    }
	100% {
		opacity: 1;
	}
}



/* P */

/* padding */

.pad-03em {
    padding: 0.3em;
}

.pad-15px {
    padding: 0px 15px 0 0;
}
.pad-20px {
    padding: 20px 0 0 0;
}
.pad-b-20px {
    padding-bottom: 20px;
}
.pad-40px {
    padding: 40px 0 0 0;
}
.pad-30px {
    padding: 30 30 30 30;
}
.pl-3em {
    padding-left: 3em;
}
.pr-3em {
    padding-right: 3em;
}

/* position */
.pos-a {
    position: absolute;
}
.pos-r {
    position: relative;
}
.pos-f {
    position: fixed;
}

/* O */

.op:hover{
    opacity: 0.5;
}
.op-50 {
    opacity: 0.5;
}
.o-scroll {
    overflow: scroll;
}
.overflow-h {
    overflow-x: hidden;
}

/* S */

/* flexbox */
.s-b {
    justify-content: space-between;
}

.s-e {
    justify-content: space-evenly;
}

.speechform {
    position: relative;
    width: 90%;
    height: auto;
    padding: 1.5em;
    background: rgba(233,233,233, 0.8);
    /* -moz-border-radius:    10px;
    -webkit-border-radius: 10px; */
    /* border-radius:         10px; */
 }

.speechform-menu {
    width: 70%;
    height: auto;
    padding: 1.5em;
    background: rgba(233,233,233, 0.8);
    /* -moz-border-radius:    10px;
    -webkit-border-radius: 10px; */
    /* border-radius:         10px; */
 }

 .speechbox {
    width: 50%;
    height: auto;
    padding: 1.5em;
    background: rgba(233,233,233, 0.8);
    position: relative;
    /* -moz-border-radius:    10px;
    -webkit-border-radius: 10px; */
    /* border-radius:         10px; */
 }
 .speechbox:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgba(233,233,233, 0.7);
    border-bottom: 13px solid transparent;
   
 }
 
 .speechbox2 {
    width: 50%;
    height: auto;
    padding: 1.5em;
    background: rgba(145, 173, 219, 0.8); 
    position: relative;
    /* -moz-border-radius:    10px;
    -webkit-border-radius: 10px; */
    /* border-radius:         10px; */
 }
 .speechbox2:before {
    content:"";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid rgba(145, 173, 219, 0.7);
    border-bottom: 13px solid transparent;
   
 }


/* T */

.t-d {
    text-decoration: none;
}

.t-a-r{
    text-align: right;
}
.t-a-c {
    text-align: center;
}

/* V */

[v-cloak] {
    display: none;
  }

/* W */


/* width */
.w-100px {
    width: 100px 
}
.w-100px {
    width: 100px;
}
.w-175px {
    width: 175px;
}
.w-700px {
    width: 700px;
}
.w-100per {
    width: 100%;
}
.width-100vw {
    width: 100vw;
}
.width-7vw {
    width: 7vw;
}
.width-50 {
    width: 50%;
}

/* wrapper */

.wrapper {
    /* height: 100vh;
    width: 100vw;
    position: relative; */
	transition: transform 0.3s ease;
}

/* Z */

.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}

/* Animation */

.bounce-1sec {
    position: relative;
    -webkit-animation:bounce 1s infinite;
  }

.bounce-2sec {
    position: relative;
    -webkit-animation:bounce 2s infinite;
  }
  
@-webkit-keyframes bounce {
    0%       { bottom:1px; }
    25%, 75% { bottom:3px; }
    50%      { bottom:5px; }
    100%     {bottom:0;}
  }

/* media queries */


/* Desktop */
@media screen 
and (min-width: 980px)
 {

    .neontxt_lg {
        font-family: 'Courgette', cursive; 
        padding: 0.5em;
        font-size: 3.5em; 
        transform: rotate(-20deg);
        -webkit-animation: flickerAnimation 4s    infinite;
        animation: flickerAnimation 4s    infinite;
    }
    
    .neoncircle_lg {
      /* padding: 0.5em; */
      color: #1549ED;
      border-radius: 100%;
      border: 2px solid rgba(255,255,255,1);
      width: 13em;
      height: 13em;
    }

    .mt-30vh_lg {
        margin-top: 30vh;
    }

    .mt-45vh_lg {
        margin-top: 45vh;
    }

    .mb-1em_lg {
        margin-bottom: 1em;
      }

    .fs-2rem_lg {
        font-size: 2.5rem;
    }

    .fs-018rem {
        font-size: 1.8rem;
    }


    .mb-2em_lg {
        margin-bottom: 2em; 
    }

    .box_lg {
        width: 50%;
        height: 10vh;
        padding: 1.5em;
        background: rgba(233,233,233, 0.8);
     }


  }

  /* Tablet */
@media screen 
and (min-width: 500px)
and (max-width: 979px) {

    .neontxt_md {
        font-family: 'Courgette', cursive; 
        padding: 0.5em;
        font-size: 2.5em; 
        transform: rotate(-20deg);
        -webkit-animation: flickerAnimation 4s    infinite;
        animation: flickerAnimation 4s    infinite;
    }
    
    .neoncircle_md {
      /* padding: 0.5em; */
      color: #1549ED;
      border-radius: 100%;
      border: 2px solid rgba(255,255,255,1);
      width: 10em;
      height: 10em;
    }

    .mt-30vh_md {
        margin-top: 30vh;
    }

    .fs-2rem_md {
        font-size: 2rem;
    }

    .mb-2em_lg {
        margin-bottom: 2em; 
    }

    .box_md {
        width: 50%;
        height: 7vh;
        padding: 1.5em;
        background: rgba(233,233,233, 0.8);
     }


}


/* iPhone */
@media screen 
and (min-width: 0px) 
and (max-width: 499px){

    .neontxt_sm {
        font-family: 'Courgette', cursive; 
        font-size: 1.5em; 
        margin: 10px auto;
        transform: rotate(-20deg);
        -webkit-animation: flickerAnimation 4s    infinite;
        animation: flickerAnimation 4s    infinite;
    }
    
    .neoncircle_sm {
      margin: auto;
      padding: 0.5em;
      color: #1549ED;
      border-radius: 100%;
      border: 2px solid rgba(255,255,255,1);
      width: 6em;
      height: 6em;
    } 

    .fs-1rem_sm {
        font-size: 1.25rem;
    }

    .fs-1rem_md {
        font-size: 3.25rem;
    }

    .mb-1em_sm {
        margin-bottom: 1em; 
    }

    .box_sm {
        width: 50%;
        height: 5vh;
        padding: 1.5em;
        background: rgba(233,233,233, 0.8);
     }

     .menuCheck {
        display: none;

     }


    



    
}
